@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Italic.otf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-MediumItalic.otf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Bold.otf");
  font-weight: 700;
}

body {
  overflow-x: hidden;
}

.hero-background {
  background: url("/hero.jpg");
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #111010;
  }
  .hero-background {
    background: url("/hero-dark.jpg");
  }
}



.hint { 
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.tip { 
  background-color: rgba(47, 129, 247, 0.15);
}
.warn { 
  background-color: rgba(214, 119, 64, 0.15);
}
.error { 
  background-color: rgba(208, 66, 85, 0.15);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.gtc-auto {
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(calc(180px + 12vmin), 100%), 1fr)
  );
}
