body {
  overflow-x: hidden;
}
.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
  
.gtc-auto {
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(calc(180px + 12vmin), 100%), 1fr)
  );
}
