@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Italic.otf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-MediumItalic.otf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Bold.otf");
  font-weight: 700;
}

body {
  overflow-x: hidden;
}

.hero-background {
  background: url("/hero.jpg");
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1F2029;
  }
  .hero-background {
    background: url("/hero-dark.jpg");
  }
}



.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.gtc-auto {
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(calc(180px + 12vmin), 100%), 1fr)
  );
}
